.search-products {
    display: grid;
    grid-template-columns: 200px auto;

    margin-top: 48px;
}

.search-products .header {
    margin-bottom: 48px;

    font-size: 14px;
    color: #333;
}

.search-products .header h2 {
    font-size: 26px;

    text-transform: capitalize;
    margin-bottom: 8px;
}

.search-products nav h4 {
    margin-bottom: 16px;

    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.search-products nav ul li {
    margin: 4px 0;
}

.search-products nav ul li a {
    color: #777;
}

.search-products nav ul li a:hover {
    color: black;
    font-weight: bold;
}