.user-register.container.form {
    max-width: 500px;
}

.form input[name="email"],
.form input[name="password"],
.form input[name="passwordRepeat"],
.form input[name="cpf_cnpj"],
.form input[name="cep"] {
    max-width: 60%;
}

.form .error {
    max-width: 60%;
    background-color: #e74c3c;
    padding: 4px;
    border-radius: 4px;
    color: white;
    margin-top: 2px;
}