{% extends "layout.njk" %}

{% block title %}
    <title>Modelos Carros - AgenciesFy</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/contents.css">
{% endblock styles %}

{% block content %}

    <section class="container molds-cars">
        <div class="header">
            <h1>Modelos dos carros para aluguel</h1>
        </div>

        <div class="cards">
            {% for car in cars %}
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1550355291-bbee04a92027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=376&q=80" alt="Carro Modelo">
                    <h3>{{car.name}}</h3>
                    {% for model in models %}
                        {% if (car.models_id == model.id) %}
                            <p>{{ model.description }}</p>
                            <h5>Motorização:
                                {{ model.motorization }}
                            </h5>
                            <h5>Qtde Portas:
                                {{ model.doors }}
                            </h5>
                            <h5>Cor:
                                {{ model.color }}
                            </h5>
                        {% endif %}

                    {% endfor %}
                    <div class="footer">
                        <a class="button update" href="/cars/{{car.id}}/edit">Editar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}