{% extends "layout.njk" %}

{% block title %}
    <title>Receitas - Foodfy Restaurante</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="styles/cards.css">
{% endblock styles %}

{% block main %}
    <div class="main">

        
    </div>
{% endblock main %}

{% block scripts %}
    <script src="scripts/index.js"></script>
{% endblock scripts %}