{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/table.css">
{% endblock styles %}

{% block content %}

    <section class="categories-registed container table">
        <table>

            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>

            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>
                        <a class="material-icons" href="/categories/{{category.id}}/edit">create</a>
                        <a class="material-icons" href="/categories/{{category.id}}/edit">delete_forever</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </section>

{% endblock content %}