<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" value="{{client.name}}">
    </div>
</div>
<div class="item">
    <div>CPF</div>
    <div>
        <input type="text" name="cpf" value="{{client.cpf}}">
    </div>
</div>
<div class="item">
    <div>Data de Aniverário</div>
    <div>
        <input type="date" name="birth_day" value="{{client.birth_day}}">
    </div>
</div>
<div class="item">
    <div>Telefone</div>
    <div>
        <input type="text" name="phone" value="{{client.phone}}">
    </div>
</div>