{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/section.css">
{% endblock styles %}

{% block main %}

    <section>
        <div class="container">
            <h1>Gerenciar Receitas</h1>
            <div class="cards">
                <div class="card">

                </div>
            </div>
        </div>
    </section>
{% endblock main %}