<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante FoodFy</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/menu.css">

    {% block styles %}{% endblock styles %}
</head>
<body>
    <header>
        <div class="menu">
            <img src="assets/logo.png" alt="Imagem do Logo FoodFy">
        </div>
    </header>

    {% block main %}{% endblock main %}

    {% block scripts %}{% endblock scripts %}
</body>
</html>