@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');
:root {
    --primary-color: #111111;
    --secundary-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #cccccc;
}

section {
    width: 1000px;
    margin: 0 auto;
}