:root {
  --primary-color: #9159c1;
  --secundary-color: #f7df1e;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

