<div class="group-item">
    <div class="item">
        <div>Nome</div>
        <div>
            <input type="text" name="name">
        </div>
    </div>
    <div class="item">
        <div>Email</div>
        <div>
            <input type="text" name="email">
        </div>
    </div>
</div>
<div class="group-item">
    <div class="item">
        <div>Diciplinas</div>
        <div>
            <input type="text" name="discipline">
        </div>
    </div>
    <div class="item">
        <div>Experência</div>
        <div>
            <input type="date" name="experience">
        </div>
    </div>
</div>
<div class="group-item">
    <div class="item">
        <div>Estado</div>
        <div>
            <select name="uf">
                <option value="">Selecione o Estado</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="SP">São Paulo</option>
                <option value="PB">Paraíba</option>
            </select>
        </div>
    </div>
    <div class="item">
        <div>Cidade</div>
        <div>
            <select name="city">
                <option value="">Selecione a Cidade</option>
                <option value="NI">Nova Iguaçu</option>
                <option value="CT">Paraisópolis</option>
                <option value="Nr">Manairá</option>
            </select>
        </div>
    </div>
</div>