{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/users.css">
{% endblock styles %}

{% block content %}

    <section class="users-registeed container table">
        <table>
            
        </table>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}