{% extends "layout.njk" %}

{% block title %}
    <title>Cadastrar Endereço - AgenciesFy</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/contents.css">
{% endblock styles %}

{% block content %}

    <section class="container form">
        <form action="/agencies/address" method="post">

            <div class="header">
                <h3>Cadastrar Endereço da Agência</h3>
            </div>
            <div class="fields">
                {% include "agencies/parts/fieldsAddress.njk" %}
            </div>

            <button class="button save">Salvar</button>
        </form>
    </section>

{% endblock content %}