{% extends "layout.njk" %}

{% block title %}
    <title>Cadastrar - AgenciesFy</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/contents.css">
{% endblock styles %}

{% block content %}

    <section class="container table">
        <table>
            <tr>
                <th>#id</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Ações</th>
            </tr>
            {% for agency in agencies %}
            <tr>
                <td>{{agency.id}}</td>
                <td>{{agency.name}}</td>
                <td>{{agency.cnpj}}</td>
                <td>
                    <a href="/agencies/{{agency.id}}/edit" class="material-icons">save</a>
                    <a href="/agencies/{{agency.id}}/delete" class="material-icons">cancel</a>
                    <a href="/agencies/address" class="material-icons">business</a>
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </section>

{% endblock content %}