<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title>Sobre - GSM Treinamento</title>
        {% endblock title %}
        
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/menu.css">

        {% block styles %}{% endblock styles %}
        
    </head>
    <body>

        <header>
            <div>
                <a href="/">Sobre</a>
                <a href="/courses">Cursos</a>
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        {% block scripts %}{% endblock scripts %}

    </body>
</html>