{% extends "./layout.njk" %}

{% block titlePage %}
    <title>Teachers - SchoolFY</title>
{% endblock titlePage %}

{% block styles %}
    <link rel="stylesheet" href="/styles/section.css">
{% endblock styles %}

{% block container %}
    <div class="main">
        <div class="main-header">
            <a href="/teachers/create" class="button">Novo</a>
            <form action="/teachers">
                <input type="text" name="filter" placeholder="Nome ou Matéria">
                <button  class="button" type="submit">Filtrar</button>
            </form>
        </div>
        <div class="main-table">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Matéria</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=709&q=80" alt="IMGA">
                            Gilberto Medeiros
                        </td>
                        <td>Matemática</td>
                        <td>10</td>
                        <td>
                            <a href="">Ver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Amdreia Mattos</td>
                        <td>Administração</td>
                        <td>5</td>
                        <td>
                            <a href="">Ver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Giullyan Raphael</td>
                        <td>Informática</td>
                        <td>4</td>
                        <td>
                            <a href="">Ver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Lucas Patrick</td>
                        <td>Filosofia</td>
                        <td>7</td>
                        <td>
                            <a href="">Ver</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Bruno Mattos</td>
                        <td>Educação Fisica</td>
                        <td>8</td>
                        <td>
                            <a href="">Ver</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="main-paginate">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
        </div>

    </div>
{% endblock container %}