{% extends "./layout.njk" %}

{% block titlePage %}
    <title>Teachers - SchoolFY</title>
{% endblock titlePage %}

{% block styles %}
    <link rel="stylesheet" href="/styles/section.css">
{% endblock styles %}

{% block container %}
    <div class="main">
        <div class="main-header">
            <a href="/teachers/create" class="button">Novo</a>
            <form action="/teachers">
                <input type="text" name="filter" placeholder="Nome ou Matéria">
                <button class="button" type="submit">Filtrar</button>
            </form>
        </div>
        <div class="main-table">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </thead>
                <tbody>

                    {% for teacher in teachers %}
                        <tr>
                            <td>
                                <img src="{{ teacher.avatar_url }}" alt="Image Teacher {{ teacher.name }}">
                                {{ teacher.name }}
                            </td>
                            <td>{{ teacher.email }}</td>
                            <td>05</td>
                            <td>
                                <a href="/teachers/{{teacher.id}}">Ver</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class="main-paginate">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
        </div>

    </div>
{% endblock container %}