{% extends "./layout.njk" %}


{% block titlePage %}
    <title>Create Teachers - SchoolFY</title>
{% endblock titlePage %}

{% block styles %}
    <link rel="stylesheet" href="/styles/section.css">
{% endblock styles %}

{% block container %}

    <div class="main-create">
        <div class="create-avatar">
            <img src="{{ teacher.avatar_url }}" alt="Image Teacher {{teacher.name}}">
        </div>
        <div class="create-information">
            <h1>Dados do Professor(a)</h1>
            <div class="item">
                <div>Nome</div>
                <div>{{ teacher.name }}</div>
            </div>
            <div class="item">
                <div>Email</div>
                <div>{{ teacher.email }}</div>
            </div>
            <div class="item">
                <div>Disciplinas</div>
                <div><span>Matemática</span> <span>Potuguês</span> <span>Historia</span></div>
            </div>
            <div class="item">
                <div>Experiência</div>
                <div><span>{{ teacher.experience }}</span></div>
            </div>
            <div class="item">
                <div>Cidade</div>
                <div>{{ teacher.city }}</div>
            </div>
            <div class="item">
                <div>Estado</div>
                <div>{{ teacher.uf }}</div>
            </div>
        </div>
    </div>
{% endblock container %}