{% extends "./layout.njk" %}


{% block titlePage %}
    <title>Update Teachers - SchoolFY</title>
{% endblock titlePage %}

{% block styles %}
    <link rel="stylesheet" href="/styles/section.css">
{% endblock styles %}

{% block container %}

    <div class="main-create">
        <div class="create-avatar">
            <img src="{{ teacher.avatar_url }}" alt="Image Teacher {{ teacher.mane }}">
        </div>
        <div class="create-information">
            <h1>Alterar Dados do Professor(a)</h1>
            <form action="/teachers?_method=PUT" method="POST">
                {% include "teachers/partials/fields.njk" %}
                <input type="hidden" name="id" value="{{ teacher.id }}">
                <button class="save" type="submit">Alterar</button>
            </form>
            <form action="/teachers?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ teacher.id }}">
                <button class="delete" type="submit">Excluir</button>
            </form>
        </div>
    </div>
{% endblock container %}