<div class="item">
    <div>Razão Social</div>
    <div>
        <input type="text" name="name">
    </div>
</div>
<div class="item">
    <div>CNPJ</div>
    <div>
        <input type="text" name="cnpj">
    </div>
</div>
<div class="item">
    <div>Endereço</div>
    <div>
        <select name="address_id">
            {% for address in addresses %}
            <option value="{{address.id}}">{{address.street}}-{{address.number}}</option>
            {% endfor %}
        </select>
    </div>
</div>
