<div class="group-item">
    <div class="item">
        <div>endereço</div>
        <div>
            <input type="text" name="street">
        </div>
    </div>
    <div class="item">
        <div>Número</div>
        <div>
            <input type="text" name="number">
        </div>
    </div>
    <div class="item">
        <div>Complemento</div>
        <div>
            <input type="text" name="complement">
        </div>
    </div>
</div>

<div class="group-item">
    <div class="item">
        <div>Bairro</div>
        <div>
            <input type="text" name="neighborhood">
        </div>
    </div>
    <div class="item">
        <div>Cidade</div>
        <div>
            <input type="text" name="city">
        </div>
    </div>
</div>

<div class="group-item">
    <div class="item">
        <div>Estado</div>
        <div>
            <input type="text" name="state">
        </div>
    </div>
    <div class="item">
        <div>CEP</div>
        <div>
            <input type="text" name="zipcode">
        </div>
    </div>
</div>