<div class="item">
    <div>Razão Social</div>
    <div>
        <input type="text" name="name" value="{{ agency.name }}">
    </div>
</div>
<div class="item">
    <div>CNPJ</div>
    <div>
        <input type="text" name="cnpj" value="{{ agency.cnpj }}">
    </div>
</div>
<div class="item">
    <div>Inscrição Estadual</div>
    <div>
        <input type="text" name="insc_est" value="{{ agency.insc_est }}">
    </div>
</div>