<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <title></title>
        {% endblock title %}
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/menu.css">

        {% block styles %}{% endblock styles %}
        
    </head>
    <body>

        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        <script src="scripts/index.js"></script>

    </body>
</html>