{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/members.css">
{% endblock styles %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url({{member.avatar_url}}) no-repeat center center / cover"></section>

        <section class="details">
            <h3>Editar Membro</h3>

            <form method="POST" action="/members?_method=PUT">
                {% include "members/partials/fields.njk" %}

                <input type="hidden" name="id" value="{{ member.id }}">
            </form>

            <form id="form-delete" action="/members?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ member.id }}">
                <button type="submit">Deletar</button>
            </form>

        </section>
    </div>

{% endblock content %}