{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/members.css">
{% endblock styles %}

{% block content %}

    <div class="card">

        <section class="avatar" style="background: url({{ members.avatar_url }}) no-repeat center center / cover"></section>

        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Membro</div>
                <div>{{ members.name }}</div>
            </div>
            <div class="item">
                <div>EMail</div>
                <div>{{ members.email }}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{ members.age }}</div>
            </div>
            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if instructor.gender == "M" else "Feminino" }}</div>
            </div>
            <div class="item">
                <div>Tipo Sanguíneo</div>
                <div>{{ members.blood }}</div>
            </div>
            <div class="item">
                <div>Peso (KG)</div>
                <div>{{ members.weight }}</div>
            </div>
            <div class="item">
                <div>Altura</div>
                <div>{{ members.height }}</div>
            </div>

            <a href="/members/{{ members.id }}/edit" class="button">Editar</a>

        </section>

    </div>
{% endblock content %}