{% extends "layout.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/products.css">
{% endblock styles %}

{% block content %}

    <section class="container form">
        <form method="POST" action="/products?_method=PUT" enctype="multipart/form-data">

            <div class="header">
                <h3>Alterar Produto</h3>
            </div>
            <div class="fields">
                {% include "products/parts/fields.njk" %}
                <input type="hidden" name="id" value="{{ product.id }}">
            </div>

            <button class="button edit" type="submit">Atualizar</button>
        </form>

        <form id="form-delete" action="/products?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{ product.id }}">
            <button class="button delete" type="submit">Deletar</button>
        </form>
    </section>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
    <script>
        const formDelete = document.querySelector('#form-delete')
        formDelete.addEventListener('submit', function (e) {
            const confirmation = confirm("Tem certeza que deseja deletar o registro?")
            if (!confirmation) {
                e.preventDefault
            }
        })
    </script>
{% endblock scripts %}